:root {
  /* beautify ignore:start */
  --fg-element: {{ colors.gray }};
  --paper-color: {{ colors.paper }};
  --water-color: {{ colors.water }};
  --terrain-color: {{ colors.terrain }};
  /* beautify ignore:end */

  --fg-text: black;
  --spacing-unit: 15px;

  font-size: 16px;
}

body,
main,
article,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: calc(var(--spacing-unit) / 2) 0;
}

body {
  font-family: sans-serif;
  color: var(--fg-text);
  background: var(--terrain-color);
}

p {
  text-align: justify;

  @media screen and (max-width: 600px) {
    text-align: left;
  }

  &+& {
    text-indent: 1.5rem;
  }
}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: calc(var(--spacing-unit) / 2) 0;

  &:first-child {
    margin-top: inherit;
  }

  &:last-child {
    margin-bottom: inherit;
  }
}

a:hover {
  text-decoration-style: wavy;
}

main {
  max-width: 800px;
  margin: auto;

  padding: var(--spacing-unit);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
  justify-content: space-evenly;
}

header,
article,
footer {
  border: 1px solid var(--fg-element);
  padding: var(--spacing-unit);
}

header {
  background: var(--water-color);
}

article {
  background: var(--paper-color);
}

.form-errors {
  color: #ba2140;
}

form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) / 2);

  textarea {
    width: 100%;
    max-width: 600px;
  }
}

.figure-wrapper {
  margin: var(--spacing-unit);

  display: flex;
  flex-direction: column;

  figure {
    margin: auto;

    svg {
      margin: calc(var(--spacing-unit) / 2) auto;
      max-width: 100%;
      height: auto;
    }

    figcaption {
      font-size: smaller;
      text-align: center;
    }
  }
}

nav,
figcaption {
  font-size: smaller;
}
