{% extends "base.html" %}
{%- block content %}
<p>
  With terrain heights of <strong>{{ heights_repr }}</strong> and a volume of
  <strong>{{ volume_repr }}</strong>, the level of water is
  <strong>{{ level_repr }}</strong>. <a href="{{ permalink }}">Permalink</a> to
  this instance.
</p>
<div class="figure-wrapper">
  <figure>
    {{- svg | safe }}
    <figcaption>Visualization of the water level.</figcaption>
  </figure>
</div>
{%- if cached %}
<p>
  <strong>You are not the first.</strong> The calculation and image above were
  retrieved from the cache.
</p>
{%- endif %}
{%- endblock %}
